<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
			<!-- Default test suite to run all tests -->
			<testsuite>
					<directory prefix="test-" suffix=".php">tests</directory>
			</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./inc</directory>
			<file>./s3-uploads.php</file>
			<exclude>
				<directory suffix=".php">./lib</directory>
				<file>./inc/class-s3-uploads-wp-cli-command.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
